.selected-item {
  width: min(400px, 82%);
  padding: 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.selected-desc {
  font-size: 0.85rem;
  overflow-y: auto;
  scrollbar-color: white gray;
  scrollbar-width: thin;
}

.item-passive {
  max-width: 40ch;
}

.selected-close {
  position: absolute;
  top: 1em;
  left: 1.5em;
  font-weight: 700;
  cursor: pointer;
  z-index: 49;

  &:hover {
    scale: 1.25;
    color: hsla(51, 100%, 50%);
  }
}

/* Components Tree */
.tree-container {
  place-self: center;
  height: 300px;
}

.tree {
  margin: 0 0 1em;
  text-align: center;
}

.tree,
.tree ul,
.tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree,
.tree ul {
  display: table;
}

.tree div {
  display: flex;
  width: 54px;
  height: 32px;
}

.tree img {
  border: none;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.tree li {
  display: table-cell;
  padding: 1em 0;
  vertical-align: top;

  /* Horizontal line below each connected node */
  &::before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0.2em;
  }

  /* Remove excess length of the line*/
  &:first-child::before {
    left: 50%;
  }
  &:last-child::before {
    right: 50%;
  }
}

/* Remove vertical line at the top of root node */
.tree > li:before,
.tree > li:after,
.tree > li > div:before {
  outline: none;
}

/* Border box around each node */
.tree div {
  border: solid 0.1em #666;
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  position: relative;
}

/* Vertical Line at the bottom of each parent node */
.tree ul:before,
.tree div:before {
  outline: solid 1px #666;
  content: "";
  height: 0.7em;
  left: 50%;
  position: absolute;
}

/* Reposition vertical line at the top of child node */
.tree div::before {
  top: -0.8em;
}

/* Reposition vertical line below each parent node */
.tree ul:before {
  top: -0.5em;
}

@media (max-width: 1300px) {
  .selected-item {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
    z-index: 99;

    &[aria-hidden="false"] {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 425px) {
  .tree div {
    width: 40px;
    height: 28px;
  }
}
